* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #333;
}

body {
    height: max-content;

}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: black;
    text-decoration: none;
    font-weight: 700;

}

.navbar {
    display: flex;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    margin-top: 8px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.nav-btn {
    margin: 0px 0px 0px 45px;
}

.btn-new {
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Helvetica;
    color: #ffffff;
    border: none;
    font-size: 15px;
    background: #1993F6;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    cursor: pointer;
}

.btn-new:hover {
    text-decoration: none;
    background-color: #d4d4d4;
    color: #333;
    transition: .3s;
}

.user-btn {
    cursor: pointer;
    border: none;
    background-color: #ffffff;
}


.user-pic {
    width: 42px;
    border-radius: 40%;
    cursor: pointer;
    margin-left: 50px;
}

.body-main {
    padding-left: 350px;
    padding-right: 350px;
}

.events {
    position: relative;
    padding: 50px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.events h2 {
    font-family: Helvetica;
    font-weight: 900;
    font-size: 45px;
    color: black;
}

.event-btn {
    font-size: 20px;
    font-family: Helvetica;
    width: 130px;
    height: 43px;
    font-weight: bold;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    background-color: rgb(245, 245, 245);

}

.event-btn:hover {
    transition: .5s;
    background-color: #333;
    color: #fff;
}

.event-ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    display: flex;
}

.event-ul li {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
}

.event-box {
    border: 5px dashed #d4d4d4;
    border-radius: 20px;
    margin-top: 30px;
    height: max-content;
    margin-bottom: 50px;

}

.event-center-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-btn-area {
    padding: 30px;
}

.event-box-text h2 {
    font-size: 35px;
    font-weight: 800;
    padding: 40px;
}

.event-list-head {
    font-size: 32px;
    font-weight: 700;
}

.event-flexbox{
    margin-top: 25px;
}

.data-class {
    /* height: 410px; */
    height: fit-content;
    width: 250px;
    border: 2px solid #d4d4d4;
    border-radius: 33px;
    padding: 10px;
    width: calc(25% - 50px);
    margin: 10px;
    margin-top: 18px;
}

.data-img-main {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.data-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 23px;
}

.data-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.data-head {
    font-size: 22px;
    padding: 8px;
    padding-bottom: 1px;
}

.data-para {
    font-size: 15px;
    padding: 2px;
}

.para-small {
    font-size: 14px;
    padding: 3px;
    text-align: center;
}

.para-small-bold {
    font-weight: 500;
}