* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #333;
}

body {
    height: max-content;

}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.body-main {
    padding-left: 350px;
    padding-right: 350px;
    height: fit-content;
    margin-bottom: 50px;
}

.explore {
    position: relative;
    padding: 50px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.explore-head {
    font-family: Helvetica;
    font-weight: 900;
    font-size: 45px;
    color: black;
}

.post-section{
    margin-top: 50px;
    /* border: 2px solid #d4d4d4; */
    border-radius: 23px;
    /* padding: 15px; */
}

.data-class {
    /* height: 410px; */
    height: fit-content;
    width: 250px;
    border: 2px solid #d4d4d4;
    border-radius: 33px;
    padding: 10px;
    width: calc(25% - 80px);
    margin: 10px;
    margin-top: 18px;
}

.data-img-main {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.data-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 23px;
}

.data-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.data-head {
    font-size: 22px;
    padding: 8px;
    padding-bottom: 1px;
}

.data-para {
    font-size: 15px;
    padding: 2px;
}

.para-small {
    font-size: 14px;
    padding: 3px;
    text-align: center;
}

.para-small-bold {
    font-weight: 500;
}