# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#Firebase
VITE_FIREBASE_API_KEY=AIzaSyDFK1cFrZAgpQCH6JH_XukzDvx-iFLreVE
VITE_FIREBASE_AUTH_DOMAIN=eventral-2d7da.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=eventral-2d7da
VITE_FIREBASE_STORAGE_BUCKET=eventral-2d7da.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=891757773347
VITE_FIREBASE_APP_ID=1:891757773347:web:3f4a61a6d5148236cda796
VITE_FIREBASE_MEASUREMENT_ID=G-PGJV0HKB2H

