.modalBackground {
  width: 100%;
  height: 100%;
  left: 0;
  background-color: rgba(200, 200, 200, 0.3);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  height: 800px;
  width: 650px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.border-box {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 700px;
  width: 650px;
  transform: translate(-50%, -50%);
  border-radius: 14px;
  border: 1px solid #d4d4d4;
  /* background-color: #eee5e5; */
  padding: 23px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}


.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}

#crimson {
  background-color: crimson;
}

#crimson:hover {
  background-color: rgb(252, 65, 102);
}

.border-box h5 {
  font-size: 20px;
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 35px;
}

.profile-img img {
  width: 20%;
  border: 1px solid grey;
  border-radius: 60px;
}

.profile-details {
  display: flex;
  justify-content: center;
}

.head {
  text-align: center;
  font-size: 30px;
  margin-top: 6px;
}

.content {
  text-align: center;
  font-size: 20px;
  margin-top: 7px;
}

.profile-stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
}

.stat-content {
  margin: 0 60px;
  justify-content: center;
  text-align: center;
}

.stat-head {
  font-size: 25px;
}

.stat-para {
  font-size: 20px;
}

.profile-about {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.about-para {
  margin: 0 30px;
  text-align: center;
  font-size: 17px;

}

.profile-genre {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  justify-content: center;

}

.genre {
  border: 1px solid gray;
  border-radius: 20px;
  margin: 0 20px;
}

.genre p {
  margin: 0 15px;
  font-size: 20px;
  padding: 5px;
}

.profile-navigator {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.profile-button-main {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.profile-button-main:hover {
  background-color: rgb(180, 180, 180);
}

.grey {
  background-color: rgb(196, 185, 185);
}

.close {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.close-btn-main {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  padding: 0;
  display: contents;
}

.close-button {
  width: 5%;
}